.gameover_container{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 30;
    justify-content: center;
    align-items: center;
}

.gameover_container .gameover_text {
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
    color: white;
}